{
  "extends": [
    "airbnb",                   // Airbnb 스타일 가이드 적용
    "plugin:cypress/recommended" // Cypress 테스트 시 lint 오류 방지하고, 테스트 코드에 적절한 규칙 적용하기 위해 추가
  ],
  "env": {
    "browser": true,            // 브라우저 전역 객체(window 등) 사용 시 ESLint 오류 방지
    "es2021": true,           
    "mocha": true               // Cypress가 Mocha 기반이므로 describe, it 등 전역 함수 인식시키기 위해 필요
  },
  "plugins": [
    "cypress"                   // Cypress용 ESLint 플러그인 – 위의 recommended 규칙 활성화하려면 꼭 필요
  ],
  "globals": {
    "MissionUtils": "readonly"  // MissionUtils는 외부에서 제공되는 전역 객체인데, ESLint가 정의 안 됐다고 오류 내지 않게 하려고 설정
  },
  "rules": {
  "import/extensions": [
    "error",                     // .js 확장자 사용 시 에러 띄우지 않기
    "ignorePackages",
    {
      "js": "always"
    }
  ]
}
}
